PROJECT_NAME="Loyalty Backend"
ENVIRONMENT="development"
API_V1_STR="/api/v1"
PORT=8000
CORS_ORIGINS=["*"]
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/loyalty_db"
FIREBASE_CREDENTIALS_BASE64=""
REDIS_URL=""
